/* <==================== Scroll to top button ====================> */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add smooth scrolling effect to links */
#btn-back-to-top {
    bottom: 20px;
    right: 20px;
    display: none;
    position: fixed;
    animation: none;
    z-index: 9999; /* Ensure it appears above other content */
}

#btn-back-to-top.show {
    display: block;
    animation: slideDown 0.3s ease-in-out;
}

/* <==================== Heart button ====================> */
.like-button {
    border: 2px solid #c7c7c7;
    border-radius: 40px;
    padding: 0.45rem 0.75rem;
    color: #878787;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: grayscale(100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.like-button.liked {
    color: #ff6e6f;
    border-color: currentColor;
    filter: grayscale(0);
}
.like-button:hover {
    border-color: currentColor;
}

.like-icon {
    width: 18px;
    height: 16px;
    display: inline-block;
    position: relative;
    margin-right: 0.25em;
    font-size: 1.5rem;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyMSAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMTAxIDQuNDE3UzguODk1LjIwNyA1LjExMS4yMDdjLTQuNDY1IDAtMTAuOTY3IDYuODQ2IDUuMDgyIDE3LjU5MkMyNS4yMzcgNy4wMyAxOS42NjUuMjAyIDE1LjUwMS4yMDJjLTQuMTYyIDAtNS40IDQuMjE1LTUuNCA0LjIxNXoiIGZpbGw9IiNGRjZFNkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") no-repeat center;
    background-size: 100%;
    -webkit-animation: heartUnlike 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartUnlike 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.liked .like-icon {
    -webkit-animation: heartPulse 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartPulse 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.liked .like-icon [class^=heart-animation-] {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAyMSAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMTAxIDQuNDE3UzguODk1LjIwNyA1LjExMS4yMDdjLTQuNDY1IDAtMTAuOTY3IDYuODQ2IDUuMDgyIDE3LjU5MkMyNS4yMzcgNy4wMyAxOS42NjUuMjAyIDE1LjUwMS4yMDJjLTQuMTYyIDAtNS40IDQuMjE1LTUuNCA0LjIxNXoiIGZpbGw9IiNGRjZFNkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==") no-repeat center;
    background-size: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 14px;
    opacity: 0;
}
.liked .like-icon [class^=heart-animation-]::before, .liked .like-icon [class^=heart-animation-]::after {
    content: "";
    background: inherit;
    background-size: 100%;
    width: inherit;
    height: inherit;
    display: inherit;
    position: relative;
    top: inherit;
    left: inherit;
    opacity: 0;
}
.liked .like-icon .heart-animation-1 {
    -webkit-animation: heartFloatMain-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatMain-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.liked .like-icon .heart-animation-1::before, .liked .like-icon .heart-animation-1::after {
    width: 12px;
    height: 10px;
    visibility: hidden;
}
.liked .like-icon .heart-animation-1::before {
    opacity: 0.6;
    -webkit-animation: heartFloatSub-1 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatSub-1 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.liked .like-icon .heart-animation-1::after {
    -webkit-animation: heartFloatSub-2 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatSub-2 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: 0.75;
}
.liked .like-icon .heart-animation-2 {
    -webkit-animation: heartFloatMain-2 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatMain-2 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.liked .like-icon .heart-animation-2::before, .liked .like-icon .heart-animation-2::after {
    width: 10px;
    height: 8px;
    visibility: hidden;
}
.liked .like-icon .heart-animation-2::before {
    -webkit-animation: heartFloatSub-3 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatSub-3 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: 0.25;
}
.liked .like-icon .heart-animation-2::after {
    -webkit-animation: heartFloatSub-4 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatSub-4 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: 0.4;
}

@-webkit-keyframes heartPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes heartPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
@-webkit-keyframes heartUnlike {
    50% {
        transform: scale(0.75);
    }
}
@keyframes heartUnlike {
    50% {
        transform: scale(0.75);
    }
}
@-webkit-keyframes heartFloatMain-1 {
    0% {
        opacity: 0;
        transform: translate(0) rotate(0);
    }
    50% {
        opacity: 1;
        transform: translate(0, -25px) rotate(-20deg);
    }
}
@keyframes heartFloatMain-1 {
    0% {
        opacity: 0;
        transform: translate(0) rotate(0);
    }
    50% {
        opacity: 1;
        transform: translate(0, -25px) rotate(-20deg);
    }
}
@-webkit-keyframes heartFloatMain-2 {
    0% {
        opacity: 0;
        transform: translate(0) rotate(0) scale(0);
    }
    50% {
        opacity: 0.9;
        transform: translate(-10px, -38px) rotate(25deg) scale(1);
    }
}
@keyframes heartFloatMain-2 {
    0% {
        opacity: 0;
        transform: translate(0) rotate(0) scale(0);
    }
    50% {
        opacity: 0.9;
        transform: translate(-10px, -38px) rotate(25deg) scale(1);
    }
}
@-webkit-keyframes heartFloatSub-1 {
    0% {
        visibility: hidden;
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        transform: translate(13px, -13px) rotate(30deg);
    }
}
@keyframes heartFloatSub-1 {
    0% {
        visibility: hidden;
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        transform: translate(13px, -13px) rotate(30deg);
    }
}
@-webkit-keyframes heartFloatSub-2 {
    0% {
        visibility: hidden;
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        transform: translate(18px, -10px) rotate(55deg);
    }
}
@keyframes heartFloatSub-2 {
    0% {
        visibility: hidden;
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        transform: translate(18px, -10px) rotate(55deg);
    }
}
@-webkit-keyframes heartFloatSub-3 {
    0% {
        visibility: hidden;
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        transform: translate(-10px, -10px) rotate(-40deg);
    }
    100% {
        transform: translate(-50px, 0);
    }
}
@keyframes heartFloatSub-3 {
    0% {
        visibility: hidden;
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        transform: translate(-10px, -10px) rotate(-40deg);
    }
    100% {
        transform: translate(-50px, 0);
    }
}
@-webkit-keyframes heartFloatSub-4 {
    0% {
        visibility: hidden;
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        transform: translate(2px, -18px) rotate(-25deg);
    }
}
@keyframes heartFloatSub-4 {
    0% {
        visibility: hidden;
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        transform: translate(2px, -18px) rotate(-25deg);
    }
}

/* <==================== Sidebar ====================> */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden */
    width: 300px;
    height: 100vh;
    border-radius: 0 25px 25px 0;
    background-color: #343a40; /* Dark background */
    color: white;
    z-index: 1050; /* Higher than the main content */
    transition: left 0.3s ease-in-out;
}

.sidebar-overlay.active {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    left: 0; /* Slide into view */
}

/* Blur Effect on Main Content */
.content-blur {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}

/* Toggle Button Styles */
.sidebar-toggle-btn {
    position: absolute;
    top: 50%;
    right: -25px; /* Positioned on the edge of the sidebar */
    transform: translateY(-50%);
    width: 50px;
    height: 100px;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sidebar-toggle-btn:hover {
    transform: translateY(-50%) translateX(10px); /* Slide out slightly */
    background-color: #495057;
}

.sidebar-overlay.active .sidebar-toggle-btn:hover {
    transform: translateY(-50%);
}

.sidebar-toggle-btn svg {
    transition: transform 0.3s ease-in-out;
}

/* Rotate the arrow when sidebar is active */
.sidebar-overlay.active .sidebar-toggle-btn svg {
    transform: rotate(180deg);
}

/* Apply border-radius to toggle when sidebar is active */
.sidebar-overlay.active .sidebar-toggle-btn {
    border-radius: 25px;
}

/* <==================== Glow on Hover ====================> */
.glow-on-hover:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.glow-on-hover:hover * {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

/* <==================== Tag ====================> */
.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    display: inline-flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    padding: 0.3rem 0.8rem;
}

.tag .remove-tag {
    display: flex;
    margin-left: 0.5rem;
    color: #dc3545;
}

.tag .remove-tag:hover {
    color: #a71d2a;
    cursor: pointer;
}