<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Error</title>
</head>
<body>
    <h1>Tạo tài khoản thành công</h1>
    <p>hãy quay lại form, đăng nhập bằng google/github lại lần nữa nhé</p>
    <p>{{error}}</p>
    <a href="/api">Quay lại Đăng nhập</a>
</body>
</html>
