.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    display: inline-flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    padding: 0.3rem 0.8rem;
}

.tag .remove-tag {
    display: flex;
    margin-left: 0.5rem;
    color: #dc3545;
}

.tag .remove-tag:hover {
    color: #a71d2a;
    cursor: pointer;
}